<!DOCTYPE html>
<html lang='en' dir='ltr'>
  <head>
    <meta charset='utf-8'>
    <title>Gry$$Lee</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <meta name="theme-color" content="#255F96">
    <link rel='stylesheet' href='./assets/css/style.css'>
    <link rel='shortcut icon' type='image/x-icon' href='/assets/favicon.png'>
  </head>

  <body>
    <header>
      <a href='https://www.grysslee.com/' class='logo'>
        <img src="/assets/logo.png" alt="Logo">
      </a>
    </header>

    {{ content }}
    <!-- <div class='container'>{{ content }}</div> -->
  </body>
</html>
